---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import TileSection from "../components/TileSection.astro";
import Card from "../components/Card.astro";
import { Octokit } from "octokit";
import SkillCard from "../components/SkillCard.astro";
const token = import.meta.env.TOKEN;
const mainRepos = ["Moods", "FeedMe", "Traval-Designer"];

const octokit = new Octokit({
  auth: token,
});

const responses = await Promise.all(
  mainRepos.map(async (repo) => {
    const response = await octokit.request("GET /repos/saranatour1/" + repo, {
      owner: "saranatour1",
      repo: repo,
      headers: {
        "X-GitHub-Api-Version": "2022-11-28",
      },
    });

    return response.data;
  })
);

const skills = [
  { databases: ['MySQL', 'SQLite', 'PostgreSQL', 'MongoDB'] },
  { frameworks: [  'Spring Boot', 'Django', 'Flask', 'React', 'Svelte', 'Vue', 'Next',
  'Node.js', 'Express.js', 'Tailwind', 'Bootstrap'] },
  { tools: ['Git', 'GitHub'] },
  { other: ['AWS', 'Vercel'] },
  { languages: ['JavaScript', 'TypeScript', 'Python', 'Java', 'HTML5', 'CSS3'] },
]



---

<Layout title="Personal website">
  <Title />
  <!-- minimal Projects section -->
  <TileSection title="projects" path="/work" />
  <div class="flex items-center justify-between w-full max-w-[64rem] mx-auto mt-4">
    {
      responses.map((item) => (
        <Card
          title={item.name}
          body={item.description}
          href={item.html_url}
          live={item.homepage}
          repostory={item.html_url}
          topics={item.topics}
        />
      ))
    }
  </div>

  <TileSection title="skills" path="/about#skills" />
  <div class="w-full max-w-[64rem] mx-auto flex">
    <div class="grid gap-4 grid-cols-3  py-8 ml-auto max-w-[30rem] w-full -scale-100 scale-y-100">
      {skills.map((item) => (
        <SkillCard title={Object.keys(item)[0]} data={Object.values(item)} />
      ))}
      <!--  -->
    </div>
  </div>
  

</Layout>
