---
import { Octokit } from "octokit";
import MainTitle from "../components/MainTitle.astro";
import TileSection from "../components/TileSection.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const token = import.meta.env.TOKEN;
const mainRepos = ["Moods", "FeedMe", "Traval-Designer"];

const octokit = new Octokit({
  auth: token,
});

const responses = await Promise.all(
  mainRepos.map(async (repo) => {
    const response = await octokit.request("GET /repos/saranatour1/" + repo, {
      owner: "saranatour1",
      repo: repo,
      headers: {
        "X-GitHub-Api-Version": "2022-11-28",
      },
    });

    return response.data;
  })
);

const smallProjects = [
  "social-links",
  "front-end-mentor-recipe",
  "rest-countries",
  "newsletter-sign-up-with-success-message-main",
  "front-end-mentor-crowd-funding",
  "image-gallery",
  "launch-countdown",
  "social-media",
  "todo-app-FEMC",
  "Chart-Expenses",
  "Random-Advice-Generator--FEMC",
  "Ecommerce-Product-FEMC",
  "age-calculator",
  "TimeZones-in-Svelte",
];

const responses1 = await Promise.all(
  smallProjects.map(async (repo) => {
    const response = await octokit.request("GET /repos/saranatour1/" + repo, {
      owner: "saranatour1",
      repo: repo,
      headers: {
        "X-GitHub-Api-Version": "2022-11-28",
      },
    });

    return response.data;
  })
);
const otherProjects = ["Java-Stack", "React", "Web-fundemntal-stack-", "Python-Projects"];

const responses2 = await Promise.all(
  otherProjects.map(async (repo) => {
    const response = await octokit.request("GET /repos/saranatour1/" + repo, {
      owner: "saranatour1",
      repo: repo,
      headers: {
        "X-GitHub-Api-Version": "2022-11-28",
      },
    });

    return response.data;
  })
);
---

<Layout title="projects">
  <main class="w-full max-w-[64rem] mx-auto p-8 self-start">
    <MainTitle title="projects" desc="A list of my projects" />

    <TileSection title="full-stack projects" />
    <div class="grid grid-cols-3 grid-rows-1 gap-3 w-full mt-4">
      {
        responses.map((item) => (
          <Card
            title={item.name}
            body={item.description}
            href={item.html_url}
            live={item.homepage}
            repostory={item.html_url}
            topics={item.topics}
          />
        ))
      }
    </div>

    <TileSection title="small projects" />
    <div class="grid grid-cols-3 grid-rows-1 gap-3 w-full mt-4 flex-wrap">
      {
        responses1.map((item) => (
          <Card
            title={item.name}
            body={item.description}
            href={item.html_url}
            live={item.homepage}
            repostory={item.html_url}
            topics={item.topics}
          />
        ))
      }
    </div>

    <TileSection title="other projects" />
    <div class="grid grid-cols-3 grid-rows-1 gap-3 w-full mt-4 flex-wrap">
      {
        responses2.map((item) => (
          <Card
            title={item.name}
            body={item.description}
            href={item.html_url}
            live={item.homepage}
            repostory={item.html_url}
            topics={item.topics}
          />
        ))
      }
    </div>



  </main>
</Layout>
