--- 
import Header from '../components/Header.svelte';
interface Props {
	title: string;
}
const currentYear = new Date().getFullYear();
const { title } = Astro.props;
const data= import.meta.env.POKEAPI;
const googleTag= import.meta.env.MEASUREMENT_ID;
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="google-site-verification" content={data} />
		<meta name="generator" content={Astro.generator} />
		<script async src=`https://www.googletagmanager.com/gtag/js?id=${googleTag}`></script>
		<title>{title}</title>
	</head>
	<body class="w-screen  bg-gray-100">
			<Header client:only="svelte"/>
			<div class="flex flex-col items-center justify-center">
				<slot />
			</div>

		<footer class="w-screen h-16  flex items-center justify-center font-serif flex-col "> 
			<p>Made with  <a class="ms-1" href="https://astro.build/"> Astro </a> & <a href="https://svelte.dev/">Svelte</a> &#9825; </p>
			<p> © <a href="https://github.com/saranatour1/">Sara Natour</a> {currentYear}</p>

		</footer>
	</body>
</html>
<style is:global>
	::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}
::-webkit-scrollbar-track:hover{
	background-color: rgba(211, 211, 211, 0.2);
}
::-webkit-scrollbar-thumb{
	border-radius: 20px;
	width: 5px;
}

::-webkit-scrollbar-track-piece  {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: lightgray;
}

.header-link{
    opacity: 0;
  }
  .header-link:hover{
		opacity: 1;
		font-size: 1em;
    color: goldenrod;
  }

	li >p{
		text-indent: 0 !important;
	}

	li p > img{
		width: 2rem !important;
		margin: 0 !important;
	}

</style>
